<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/styles.css" media="screen" title="no title">
    <link rel="stylesheet" href="assets/css/reset.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Allan:700|Cabin:500,700|Josefin+Sans:700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ"
        crossorigin="anonymous"></script>
    <title>Sign In</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row header-signin">
            <div class="logo">
                <img src="assets/images/cn-01.svg " alt="Crows Nest" id="cn-logo-signin">
            </div>
        </div>
    </div>

    <div class="container-fluid news-container">
        <a href="/"><button id="user-back-btn">Go Back</button></a>
        <div class="row sign-in-form">
            <form id="signin" name="signin" method="post" action="/signin">
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input class="signin-input" placeholder="Username" name="username" type="username" />
                <br>

                <label for="password">
                    <i class="fas fa-key"></i>
                </label>
                <input class="signin-input" placeholder="Password"  name="password" type="password" />
                <br>
                <input id="user-signin-btn" type="submit" value="Sign In" />
            </form>
        </div>
    </div>
</body>

</html>